/* ********************************************* */

/* MEDIA QUERY */

/* ********************************************* */

/* MOBILE FIRST */

@media screen and (min-width: 460px) {
}

@media screen and (min-width: 768px) {
  /* MAIN */

  /******************************** Main section */
  .row {
    gap: 1rem;
  }

  .main-section .col:first-child {
    width: calc(100% - 100% / 3 - 0.5rem);
  }

  .main-section .col {
    width: calc(100% / 3 - 2rem / 3);
  }

  /* .card-img {
    justify-content: flex-start;
  } */

  .card-img img {
    width: 60%;
  }

  /******************************** Strategic section */

  .card {
    width: 100%;
  }

  .img {
    width: 100%;
  }

  /********************************* Testimonials section  */

  .testimonials .card {
    display: flex;
  }

  .testimonials .card {
    /* debug */
    min-height: 200px;
  }

  /********************************** Benefits section */

  .benefits .col {
    width: calc(100% / 2 - 1rem);
  }

  /*********************************** About us section  */

  .about-us .col:first-child {
    width: calc(60% - 1rem);
  }

  .about-us .col:last-child {
    width: 40%;
  }

  /********************************** Get started section  */

  .get-started .container {
    width: 80%;
  }

  /*********************************** Footer */

  footer .container {
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  /* Header */
  .link {
    display: block;
  }

  .menu-btn {
    display: none;
  }

  /* MAIN */

  /* Main section */
  .container {
    width: 70%;
  }

  .main-section .card:first-child {
    align-items: flex-end;
  }

  .card-content {
    width: 50%;
  }

  .main-section .card .card-img {
    width: 50%;
  }

  .card-img img {
    width: 90%;
  }

  .main-btn .btn-blue {
    width: 100%;
  }

  /* Strategic section */

  .strategic .container {
    width: 60%;
  }

  .strategic .row {
    display: flex;
    align-items: flex-end;
  }

  .strategic .col {
    width: calc(100% / 2 - 2rem);
  }

  .strategic .card {
    /* margin-top: 6rem; */
  }

  /********************************** Benefits section */

  .benefits .col {
    width: calc(100% / 3 - 2rem / 3);
  }

  /********************************** Get started section  */

  .get-started .container {
    width: 50%;
  }

  /*********************************** Footer */

  footer .container {
    width: 50%;
  }
}
